.clickable{
  background-color: lightgreen;
  border: none;
  padding: 5px 15px; 
  border-radius: 10px;
}
.clickable2{
 padding: 5px 30px;
 border-radius: 10px;
}
.clickable3{
  background-color: lightgreen;
  border: none;
  padding: 5px 15px; 
  border-radius: 10px;
  text-transform:uppercase ;
}